@charset "UTF-8";
/* CSS Document */


* {
	box-sizing: border-box;
}

.header {
	float:right;
	padding-left: 30%;
	width: 100%;
	font-size: 30px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 300;
}

body {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, lightpink); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, lightpink); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, lightpink); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, lightpink); /* Standard syntax */
}

ul {
    list-style-type: none;
    margin: 0;
    padding-right: 20%;
	padding-left: 25%;
    overflow: hidden;
    background-color: lightpink;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: crimson;
}


h1 {
	padding-left: 40%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	
}

p {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin-left: 10%;
	margin-right: 10%;
	color: crimson;
	
}

#containermain {
	
		margin-left: 5%;
	margin-right: 5%;
}



#footer {
	background:lightpink;
	width:100%;
	height:60px;
	position:fixed;
	bottom:0px;
	left:0;
	text-align: center;
	padding-top: 20px;
}

.blah {
	
	color:crimson;
	text-decoration: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 90%;
}

.photo1 {
	width: 31%;
	padding: 10px;
	
}

.photo2 {
	width: 31%;
	padding: 10px;
	
}

.photo3 {
	width: 31%;
	padding: 10px;
	
}

.photo4 {
	width: 31%;
	padding: 10px;
	
}

.photo5 {
	width: 31%;
	padding: 10px;
	
}

.photo6 {
	width: 31%;
	padding: 10px;
	
}

.photo7 {
	width: 31%;
	padding: 10px;
	margin-bottom: 150px;
}

.photo8 {
	width: 31%;
	padding: 10px;
	margin-bottom: 150px;
}

.photo9 {
	width: 31%;
	padding: 10px;
	margin-bottom: 150px;
	
}