@charset "UTF-8";
/* CSS Document */


* {
	box-sizing: border-box;
}

.header {
	float:right;
	padding-left: 30%;
	width: 100%;
	font-size: 30px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 300;
}


ul {
    list-style-type: none;
    margin: 0;
    padding-right: 20%;
	padding-left: 25%;
    overflow: hidden;
    background-color: lightpink;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: crimson;
}

h1 {
	
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding-left: 40%;

}

p {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding-left: 20px;
	color: crimson;
	
}

.photo1 {
	width: 31%;
	padding: 10px;
	
}

.photo2 {
	width: 31%;
	padding: 10px;
	
}

.photo3 {
	width: 31%;
	padding: 10px;
	
}

.photo4 {
	width: 31%;
	padding: 10px;
	
}

.photo5 {
	width: 31%;
	padding: 10px;
	
}

.photo6 {
	width: 31%;
	padding: 10px;
	
}

.photo7 {
	width: 31%;
	padding: 10px;
	
}

.photo8 {
	width: 31%;
	padding: 10px;
	
}

.photo9 {
	width: 31%;
	padding: 10px;
	
}

.photo10 {
	width: 31%;
	padding: 10px;
	
}

.photo11 {
	width: 31%;
	padding: 10px;
	
}

.photo12 {
	width: 31%;
	padding: 10px;
	
}

.photo13 {
	width: 31%;
	padding: 10px;
	
}

.photo14 {
	width: 31%;
	padding: 10px;
	
}

.photo15 {
	width: 31%;
	padding: 10px;
	
}

.photo16 {
	width: 31%;
	padding: 10px;
	margin-bottom: 150px;
	
}

.photo17 {
	width: 31%;
	padding: 10px;
	margin-bottom: 150px;
	
}

.photo18 {
	width: 31%;
	padding: 10px;
	margin-bottom: 150px;
	
}




#footer {
	background:lightpink;
	width:100%;
	height:60px;
	position:fixed;
	bottom:0px;
	left:0;
	text-align: center;
	padding-top: 20px;
}

.blah {
	
	color:crimson;
	text-decoration: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 90%;
}